    $bg-color: #F7F9FC;
    $bg-color-secondary: #CEE5FF;
    $bg-dark-color: #211F54;
    
    $main-color: #0075FF;
    $border-color: #DCDDEB;
    $white-color: #FFFFFF;
    
    $text-color: #211F54;
    $text-color-secondary: #6E7191;