<section class="articles section">
  <div class="container articles__container">
    <div class="articles-main">
      <div class="articles-text">
        <h2 class="articles__title">Articles & resources</h2>
        <p class="articles__text">
          Lobortis mattis odio leo eget mauris met aliquet semper molestie
          sollicitudin congue massa mauris lectus.
        </p>
      </div>
      <div class="articles-buttons">
        <a
          href="./index.html#feedback"
          class="articles__button articles__button-get button link"
          >Get a free quote</a
        >
        <a href="#" class="articles__button button articles__button-browse link"
          >Browse articles</a
        >
      </div>
    </div>
    <div class="slick-carousel autoplay">
      <div class="articles-slide articles-slide-first">
        <div class="articles-slide-first__img">
          <img
            class="slider-img"
            src="./images/article_cleaners.png"
            alt="пылесос"
          />
        </div>
        <div class="articles-slide-first__slide-info slide-info">
          <h3 class="articles-slide-first__title articles-slide__title">
            8 best vacuum cleaners to clean any mess for your home in 2022
          </h3>
          <p class="articles-slide-first__text articles-slide__text">
            Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis
            odio sit sit ac port titor sit males.
          </p>
          <p class="articles-slide-first__date articles-slide__date">
            Jan 28, 2022
          </p>
          <button class="slider-button"></button>
        </div>
      </div>
      <div class="articles-slide articles-slide-second">
        <div class="articles-slide-second__img">
          <img
            class="slider-img"
            src="./images/atricle_disinfect.png"
            alt="женщина убирает"
          />
        </div>
        <div class="articles-slide-second__slide-info slide-info">
          <h3 class="articles-slide-second__title articles-slide__title">
            How to properly disinfect your phone and other electronics
          </h3>
          <p class="articles-slide-second__text articles-slide__text">
            Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis
            odio sit sit ac port titor sit males.
          </p>
          <p class="articles-slide-second__date articles-slide__date">
            Feb 1, 2022
          </p>
          <button class="slider-button"></button>
        </div>
      </div>
      <div class="articles-slide articles-slide-first">
        <div class="articles-slide-first__img">
          <img
            class="slider-img"
            src="./images/article_cleaners.png"
            alt="пылесос"
          />
        </div>
        <div class="articles-slide-first__slide-info slide-info">
          <h3 class="articles-slide-first__title articles-slide__title">
            8 best vacuum cleaners to clean any mess for your home in 2022
          </h3>
          <p class="articles-slide-first__text articles-slide__text">
            Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis
            odio sit sit ac port titor sit males.
          </p>
          <p class="articles-slide-first__date articles-slide__date">
            Jan 28, 2022
          </p>
          <button class="slider-button"></button>
        </div>
      </div>
      <div class="articles-slide articles-slide-second">
        <div class="articles-slide-second__img">
          <img
            class="slider-img"
            src="./images/atricle_disinfect.png"
            alt="женщина убирает"
          />
        </div>
        <div class="articles-slide-second__slide-info slide-info">
          <h3 class="articles-slide-second__title articles-slide__title">
            How to properly disinfect your phone and other electronics
          </h3>
          <p class="articles-slide-second__text articles-slide__text">
            Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis
            odio sit sit ac port titor sit males.
          </p>
          <p class="articles-slide-second__date articles-slide__date">
            Feb 1, 2022
          </p>
          <button class="slider-button"></button>
        </div>
      </div>
    </div>
  </div>
</section>
