<section class="articles">
<div class="container articles__container">
<div class="articles-main">
   <div class="articles-text">
    <h2 class="articles__title">Articles & resources</h2>
    <p class="articles__text">Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus.</p>
   </div>
<div class="articles-buttons">
    <a href="" class="articles__button articles__button-get button link">Get a free quote</a>
<a href="" class="articles__button button articles__button-browse link">Browse articles</a>
</div>
</div>
<div class="slick-carousel autoplay">
    <div class="articles-slide articles-slide-first">
        <div class="articles-slide-first__futureimg futureimg">1</div>
        <div class="articles-slide-first__slide-info slide-info">
            <h3 class="first-slide__title"></h3>
            <p class="first-slide__text"></p>
            <p class="first-slide__date"></p>
        </div>
    </div>
    <div class="articles-slide articles-slide-second">
        <div class="articles-slide-second__futureimg futureimg"></div>
        <div class="articles-slide-second__slide-info slide-info">
            <h3 class="second-slide__title"></h3>
            <p class="second-slide__text"></p>
            <p class="second-slide__date"></p></div>
    </div>
    <div class="articles-slide articles-slide-first">
        <div class="articles-slide-first__futureimg futureimg">1</div>
        <div class="articles-slide-first__slide-info slide-info"></div>
    </div>
    <div class="articles-slide articles-slide-second">
        <div class="articles-slide-second__futureimg futureimg">2</div>
        <div class="articles-slide-second__slide-info slide-info"></div>
    </div>
</div>

</div>

</section>