<section class="section feedback">
	<div class="container-form">
		<div class="content-feedback">
			<div class="left-content">
				<div class="request">
					<h2 class="feedback__title">Request a free cleaning quote today</h2>
					<p class="feedback__paragraph">
						In dignissim euismod pretium amet enim a eu nam ut urna accumsan pellentesque lacus duis pharetra eutortor.
					</p>
					<a class="feedback__link" href="tel: (414)567-2109">
						<div class="feedback__svg">
							<svg width="35" height="35">
								<use href="./images/icons.svg#icon-phone"></use>
							</svg>
						</div>
						<div class="feedback__phone">
							<span class="feedback__link-call">Call us now</span> 
							<span class="feedback__link-tel">(414) 567 - 2109</span>
						</div>
					</a>
				</div>

				<h3 class="feedback__sub-title">Not convinced yet?</h3>
				<p class="feedback__sub-paragraph">
					Massa bibendum consectetur maurisid gravida purus, dolor dui amet morbi non nunc urna purus diam.
				</p>
				<button class="button button--feedback">Browse our packages</button>
			</div>
		
			<div class="right-content">
				<form>
					<div class="input-content">
						<label class="form-label"> 
							<span class="form-label__name">Full name</span>
							<input class="form-label__input" type="text" required>
						</label>

						<label class="form-label"> 
							<span class="form-label__name">Phone number</span>
							<input class="form-label__input" type="tel" required>
						</label>

						<label class="form-label"> 
							<span class="form-label__name">Address</span>
							<input class="form-label__input" type="text" required>
						</label>

						<label class="form-label"> 
							<span class="form-label__name">Email</span>
							<input class="form-label__input" type="email">
						</label>

						<label class="form-label"> 
							<span class="form-label__name">Requested service</span>
							<input class="form-label__input" type="text">
						</label>

						<label class="form-label"> 
							<span class="form-label__name">Day of service</span>
							<input class="form-label__input" type="text">
						</label>
					</div>
					

					<label class="form-label">
						<span class="form-label__name">Add a note</span>
						<textarea class="form-label__textarea" name="" id=""></textarea>
					</label>

					<button class="button button-form" type="submit">Submit message</button>
				</form>
			</div>
		</div>
	</div>
</section>