<section class="section">
  <div class="hero-container">
    <div class="hero-title-container">
      <h1 class="hero-title">Quality cleaning for your home</h1>
      <p class="hero-text">
        Condimentum mauris sit cursus amet id non neque pharetra nulla ornare
        sed facilisis senectus dapibus nibh ultrices eget suscipit aliquet et
        nulla magna lacus penatibus.
      </p>
      <div class="hero-button-container">
        <a href="#" class="hero-btn button link">Get a free quote</a>
        <a href="tel:+(414) 567 - 2109" class="hero-call-btn">
          <svg width="34px" height="34px" class="hero-call-btn__svg">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </a>
        <div class="hero-call-us-container">
          <p class="upper hero-call-us">Call us now</p>
          <a href="tel:+(414) 567 - 2109" class="hero-phone-number link"
            >(414) 567 - 2109</a
          >
        </div>
      </div>
    </div>
    <img
      src="./images/quality_clearning.png"
      alt="hero background"
      class="hero-img"
    />
  </div>
</section>
