<section class="section">
  <div class="container">
    <div class="hero-title-container">
      <h1 class="hero-title">Quality cleaning for your home</h1>
      <p class="hero-text">
        Condimentum mauris sit cursus amet id non neque pharetra nulla ornare
        sed facilisis senectus dapibus nibh ultrices eget suscipit aliquet et
        nulla magna lacus penatibus.
      </p>
      <div class="">
        <a href="" class="hero-btn">Get a free quote</a>
        <a href="" class="hero-call-btn"></a>
        <div class="hero-call-us-container">
          <p class="upper">Call us now</p>
          <a href="" class="hero-phone-number">(414) 567 - 2109</a>
        </div>
      </div>
    </div>
    <!-- <img src="" alt="hero background" class="hero-img" /> -->
  </div>
</section>
