<!-- <section class="section">
  <div class="container">
    <h2>How our service works?</h2>
    <p>
      Sagittis nibh scelerisque vitae eget vulputate sem elementum sed neque
      nisi felis non ultrices massa id egestas quam velit pretium nu.
    </p>
    <ul>
      <li>
        <img src="./images/sсhedule.png" alt="" />
        <h3>1. Schedule online</h3>
        <p>
          Sagittis nibh scelerisque vitae egetolment vulputate sem elementum sed
          n.
        </p>
      </li>
      <li>
        <img src="./images/pay_online.png" alt="" />
        <h3>2. Pay online easily</h3>
        <p>
          Vitae ut accumsan blandit ullamcorperolm suscipit dui gravida amet at
          nunc.
        </p>
      </li>
      <li>
        <img src="./images/get_cleaned.png" alt="" />
        <h3>3. Get your house cleaned</h3>
        <p>
          Nunc maecenas sollicitudin metus tellus mattis sed porttitor cursus
          eleifend.
        </p>
      </li>
    </ul>
    <div class="how-work-container">
      <a href="" class="button">Get a free quote</a>
      <a href="" class="button">Explore services</a>
    </div>
  </div>
</section> -->
