<section class="section-how-work">
  <div class="container-how-work">
    <h2 class="how-work__title">How our service works?</h2>
    <p class="how-work__subtitle">
      Sagittis nibh scelerisque vitae eget vulputate sem elementum sed neque
      nisi felis non ultrices massa id egestas quam velit pretium nu.
    </p>
    <ul class="how-work-list">
      <li class="how-work-list__item">
        <img class="how-work-list__img" src="./images/sсhedule.png" alt="" />
        <h3 class="how-work-list__title">1. Schedule online</h3>
        <p class="how-work-list__subtitle">
          Sagittis nibh scelerisque vitae egetolment vulputate sem elementum sed
          n.
        </p>
      </li>
      <li class="how-work-list__item">
        <img class="how-work-list__img" src="./images/pay_online.png" alt="" />
        <h3 class="how-work-list__title">2. Pay online easily</h3>
        <p class="how-work-list__subtitle">
          Vitae ut accumsan blandit ullamcorperolm suscipit dui gravida amet at
          nunc.
        </p>
      </li>
      <li class="how-work-list__item">
        <img class="how-work-list__img" src="./images/get_cleaned.png" alt="" />
        <h3 class="how-work-list__title">3. Get your house cleaned</h3>
        <p class="how-work-list__subtitle">
          Nunc maecenas sollicitudin metus tellus mattis sed porttitor cursus
          eleifend.
        </p>
      </li>
    </ul>
    <div class="how-work-container-btn">
      <a href="./index.html#feedback" class="how-work-main-btn button link"
        >Get a free quote</a
      >
      <a href="#" class="how-work-secondary-btn button link"
        >Explore services</a
      >
    </div>
  </div>
</section>
