<section class="section">
  <div class="container">
    <h2>How our service works?</h2>
    <p>
      Sagittis nibh scelerisque vitae eget vulputate sem elementum sed neque
      nisi felis non ultrices massa id egestas quam velit pretium nu.
    </p>
    <ul>
      <li>
        <!-- <img src="" alt="" /> -->
        <h3></h3>
        <p></p>
      </li>
      <li>
        <!-- <img src="" alt="" /> -->
        <h3></h3>
        <p></p>
      </li>
      <li>
        <!-- <img src="" alt="" /> -->
        <h3></h3>
        <p></p>
      </li>
    </ul>
    <div class="how-work-container">
      <a href="" class="button"></a>
      <a href="" class="button"></a>
    </div>
  </div>
</section>
