<section class="section video-section">
    <div class="video-section__container">
        <div class="video-section__item">
        <h2 class="video-section__title">Our cleaning services have <br> no comparison</h2>
        <p class="video-section__text">Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus vitae cras viverra gravida sapien.</p>
        </div>
        <ul class="list progress-list">
            <li class="progress-list__item">
                <svg class="progress-list__icon" width="72" height="72">
                    <use href="./images/icons.svg#icon-clients_heart"></use>
                </svg>
                <div class="progress-list__description">
                <h3 class="progress-list__title">clients</h3>
                <p class="progress-list__number">3,480+</p>
                </div>
            </li>
            <li class="progress-list__item">
                <svg class="progress-list__icon" width="72" height="72">
                    <use href="./images/icons.svg#icon-job_done"></use>
                </svg>
                <div class="progress-list__description">
                <h3 class="progress-list__title">Jobs done</h3>
                <p class="progress-list__number">12,540+</p>
                </div>
            </li>
            <li class="progress-list__item">
                <svg class="progress-list__icon" width="72" height="72">
                    <use href="./images/icons.svg#icon-employees"></use>
                </svg>
                <div class="progress-list__description">
                <h3 class="progress-list__title">Employees</h3>
                <p class="progress-list__number">100+</p>
                </div>
            </li>
        </ul>
        <div class="video">
            
            <div class="video__item">
                <svg class="video__icon-play" width="56" hieght="63">
                <use href="./images/icons.svg#icon-play"></use>
            </svg>
            </div>
        </div>
    </div>
</section>