<section class="section video-section">
    <div>
        <h2 class="video-section_title">Our cleaning services have no comparison</h2>
        <p class="video-section__text">Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus vitae cras viverra gravida sapien.</p>
        <ul class="list progress-list">
            <li>
                <svg width="72" height="72">
                    <use href="./images/icons.svg#icon-clients_heart"></use>
                </svg>
                <h3 class="progress-list__title">clients</h3>
                <p class="progress-list__number">3,480+</p>
            </li>
            <li>
                <svg width="72" height="72">
                    <use href="./images/icons.svg#icon-job_done"></use>
                </svg>
                <h3 class="progress-list__title">Jobs done</h3>
                <p class="progress-list__number">12,540+</p>
            </li>
            <li>
                <svg width="72" height="72">
                    <use href="./images/icons.svg#icon-employees"></use>
                </svg>
                <h3 class="progress-list__title">Employees</h3>
                <p class="progress-list__number">100+</p>
            </li>
        </ul>
        <div class="video">
            <img src="./images/video_clearning.png" alt="video of clearning">
        </div>
    </div>
</section>