<footer>
  <section class="footer__contacts section">
    <div class="footer__contacts--box">
      <div class="footer__contacts--descr">
        <h2>Quality cleaning for your home</h2>
        <p>Lorem ipsum dolor sit amet cteturdo adipiscing elit, sed do eiusmo.</p>
      </div>
      <div class="footer__contacts--adress">
        <h3>Contact us</h3>
        <address>
          <a href="https://goo.gl/maps/Yd6rX77X9CL3Hhz47" class="link">
            1827 Nickel Road, Los Angeles, CA, 90017, United States</a
          >
        </address>
        <a href="tel:+4145672109" class="link">(414) 567 - 2109</a>
        <a href="mailto:contact@cleaning.com" class="link">contact@cleaning.com</a>
      </div>
      <div class="footer__contacts--hours"></div>
      <div class="footer__contacts--estimate"></div>
    </div>
  </section>

  <section class="footer__copyright section">
    <div class="footer__copyright--box">
      <a href="./index.html" class="footer__logo">
        <svg width="178" height="42">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer__copyright--list list">
        <li class="footer__copyright--item">
          Copyright © Cleaning X | Designed by
          <a href="" class="footer__copyright--link">BRIX Templates</a>
        </li>
        <li class="footer__copyright--item">
          - Powered by
          <a href="" class="footer__copyright--link">Webflow</a>
        </li>
        <li class="footer__copyright--item">
          -
          <a href="" class="footer__copyright--link">Licenses</a>
        </li>
      </ul>
    </div>
  </section>
</footer>
