<div class="header__block section">
  <a href="./index.html" class="header__logo">
    <svg width="178" height="42">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <nav>
    <ul class="header__nav list">
      <li class="header__nav--item">
        <a href="#" class="header__nav--link link">Home</a>
      </li>
      <li class="header__nav--item">
        <a href="#" class="header__nav--link link">About</a>
      </li>
      <li class="header__nav--item">
        <a href="#" class="header__nav--link link">Services</a>
      </li>
      <li class="header__nav--item">
        <a href="#" class="header__nav--link link">Pages</a>
      </li>
      <li class="header__nav--item">
        <a href="#" class="header__nav--link link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="header__info">
    <a href="#" class="header__info--wallet link">Cart(0)</a>
    <a href="./index.html#feedback" class="header__info--quote link"
      >Get a free quote</a
    >
  </div>
</div>
