.hero-container{
    display: flex;
}

.hero-title-container{
    
}

.hero-title{
    width: 518px;
    margin-top: 227px;
    font-size: 68px;
    color: #211F54;
}

.hero-text{
    width: 591px;
    margin-top: 22px;
    margin-right: 19px;
    font-size: 21px;
    color: #6E7191;
}

.hero-button-container{
    display: flex;

}