.section-how-work{
    max-width: 1440px;
    margin: 0 auto;
    padding: 240px 86px;

}

.container-how-work{
    @extend %flex-centred;
    flex-direction: column;

}

.how-work{

    &__title{
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: #211F54;
    }

    &__subtitle{
        font-size: 21px;
        line-height: 1.42;
        text-align: center;
        color: #6E7191;
        width: 648px;
        margin-top: 21px;
    }
}

.how-work-list{
    @extend %flex-centred;
    list-style: none;
    gap: 2px;
    margin-top: 58px;

    &__item{

    }

    &__img{
        margin: 0 auto;

    }

    &__title{
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        color: #211F54;
        margin-top: 39px;
    }

    &__subtitle{
        font-size: 21px;
        line-height: 1.42;
        text-align: center;
        color: #6E7191;
        margin-top: 16px;
    }

}

.how-work-container-btn{
    margin-top: 57px;
    @extend %flex-centred;

}

.how-work-main-btn{
    background-color: $main-color;
    color: $white-color;
    margin-right: 28px;
}

.how-work-secondary-btn{
    color: $text-color;
    border: 1px solid #EFF0F6;
}