.button {
    display: block;
    cursor: pointer;
    min-width: 141px;
    padding: 26px 38px;
    text-align: center;


    // background-color: $main-color;
    border: 1px solid inherit;
    // color: $white-color;
    border-radius: 14px;
}